<div id="conversation" class="w3-responsive w3-container">
<!-- app/views/messages/index.html.erb -->
<div style="color: #bd6019;border:1px solid #bd6019;padding: 5px;">Conversation with "<%= @conversation.recipient.username %>"</div><br>

<% if @over_ten %>
  <%= link_to "Show previous", '?m=all', class:'button is-link' %>
<% end %>

<section>
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <article>
        <div>
          <div><%#= gravatar_for user, size: 32 %></div>
          <div style="color: #bd6019;"><%= message.message_time %></div>
          <div>
            <div><%= image_tag avatar_url(user), size: 48, class: "circle" %><strong style="color: #bd6019;"> <%= user.username %>: </strong><%= message.body %></div><br>   
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</section><br>

<%= form_for [@conversation, @message] do |f| %>
  <%= f.text_area :body, class: "textareaConvo", placeholder: "type your message here..." %>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div class="text-align-right">
    <%= f.submit "Send", class: "messageButton" %>
  </div>
<% end %>
</div>

<style type="text/css">

  .messageButton{
    width: 15%;
    height: 35px;
    color:white;
    background-color: #bd6019;
    border:none;
    border-radius: 10%;
    cursor:pointer;
  }
  .messageButton:hover{
    animation: bounce 1s infinite;
  }
  .textareaConvo{
    width:100%;
    height: 70px;
    background-color: transparent;
    color: white;
    border: 1px solid orange;
  }
</style>
