<div id="messagePage" class="w3-conatiner w3-center">
<div style="padding: 20px">
<h2 style="font-family: 'Special Elite', cursive !important;" class="white">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="messageField">
      <%#= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, placeholder: "username", autocomplete: "username" %>
    </div>


    <div class="messageField">
    <br />
    <%= f.url_field :avatar_url, placeholder: "Provide URL for Avatar, or leave blank for default" %>
    </div>



  <div class="messageField">
    <%#= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "email@email.com", autocomplete: "email" %>
  </div>

  <div class="messageField">
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
    <!--<em>(<%#= @minimum_password_length %> characters minimum)</em>-->
    <%# end %><br />
    <%= f.password_field :password, placeholder: "Password (6 characters minimum)", autocomplete: "new-password" %>
  </div>

  <div class="messageField">
    <%#= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %><br>

<%= render "devise/shared/links" %>
</div>
</div>