<style type="text/css">.hi{background-color:white;color:black;}#singlesTable{display:none;}#TT, #pool, #fb{display: none;}

#gameButton{
  height: 30px;
  background-color: #bd6019;
  color: white;
  border:none;
  font-size: 20px;
  border-radius: 10%;
}
#gameButton:hover{
  animation: bounce 1s infinite;
}


</style>


<div id="conversation" class="w3-container">
<br><br>

<h1 id="x">Singles</h1><hr class="hr">

<div id="xx">


<h3 id="singlesClick">All Games <% @count = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% @count = @count + 1 %>

<% end %>

<% end %>
<% if @count == 0 %>
(No games played yet)
<% elsif @count == 1 %>
(<%= @count %> Game Recorded)
<% else %>
(<%= @count %> Games Recorded)
<% end %></h3>
<% if @count > 5 %>

<a href="/"><button>Secret Button</button></a>
<% end %>


<div id="singlesTable" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game</th>
      <!--<th>Game type</th>-->
      <th>Date</th>
      <!--<th>Player one</th>-->
      <th>Opponent</th>
      <th>Result</th>
      <th>Confirmed</th>
      <!-------------------
      <th>Player three</th>
      <th>Player four</th>
      <th>Isprivate</th>
      --------------------->
      
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <% if current_user.username == my_game.player_one %>

        <td><%= my_game.game_name %></td>
        <%#= my_game.game_type %> <!--Not required-->
        <td><%= my_game.date %></td>
        <%#= my_game.player_one %><!--Not required-->
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
        <td><% if my_game.confirm == 1 %>Confirmed<% end %><% if my_game.confirm != 1 && my_game.result == 'Win' %>Needs to be confirmed<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a><%end%><% if my_game.confirm != 1 && my_game.result == 'Lose' %>Needs to be confirmed<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a><%end%></td>
        <%#= my_game.player_three %><!--Not required-->
        <%#= my_game.player_four %><!--Not required-->
        <%#= my_game.isPrivate %><!--Not required-->
        <%#= link_to 'Show', my_game %><!--Not required-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(my_game) %></td>
        <td><%= link_to 'Delete', my_game, method: :delete, data: { confirm: 'Are you sure?' } %></td><!--Not required-->
      </tr>
      <% else %>
      
    <% end %>
      
    <% end %>
  </tbody>
</table>
</div>
<hr class="hr" style="width: 50%;">


<!--all TT-->
<h3 id="clickTT">Table Tennis <% @count = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% if my_game.game_name == 'Table Tennis' %>
<% @count = @count + 1 %>
<% end %>
<% end %>

<% end %>
(<%= @count %>)</h3>


<div id="TT" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game</th>
      <!--<th>Game type</th>-->
      <th>Date</th>
      <!--<th>Player one</th>-->
      <th>Opponent</th>
      <th>Result</th>
      <!-------------------
      <th>Player three</th>
      <th>Player four</th>
      <th>Isprivate</th>
      --------------------->
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <% if current_user.username == my_game.player_one %>
        <% if my_game.game_name == 'Table Tennis' %>

        <td><%= my_game.game_name %></td>
        <%#= my_game.game_type %> <!--Not required-->
        <td><%= my_game.date %></td>
        <%#= my_game.player_one %><!--Not required-->
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
        <%#= my_game.player_three %><!--Not required-->
        <%#= my_game.player_four %><!--Not required-->
        <%#= my_game.isPrivate %><!--Not required-->
        <%#= link_to 'Show', my_game %><!--Not required-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(my_game) %></td>
        <td><%= link_to 'Destroy', my_game, method: :delete, data: { confirm: 'Are you sure?' } %></td><!--Not required-->
      </tr>
      
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr class="hr" style="width: 50%;">
<!--end of tt-->

<!--all pool-->
<h3 id="clickPool">Pool <% @count = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% if my_game.game_name == 'Pool' %>
<% @count = @count + 1 %>
<% end %>
<% end %>

<% end %>
(<%= @count %>)</h3>


<div id="pool" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game</th>
      <!--<th>Game type</th>-->
      <th>Date</th>
      <!--<th>Player one</th>-->
      <th>Opponent</th>
      <th>Result</th>
      <!-------------------
      <th>Player three</th>
      <th>Player four</th>
      <th>Isprivate</th>
      --------------------->
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <% if current_user.username == my_game.player_one %>
        <% if my_game.game_name == 'Pool' %>

        <td><%= my_game.game_name %></td>
        <%#= my_game.game_type %> <!--Not required-->
        <td><%= my_game.date %></td>
        <%#= my_game.player_one %><!--Not required-->
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
        <%#= my_game.player_three %><!--Not required-->
        <%#= my_game.player_four %><!--Not required-->
        <%#= my_game.isPrivate %><!--Not required-->
        <%#= link_to 'Show', my_game %><!--Not required-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(my_game) %></td>
        <td><%= link_to 'Destroy', my_game, method: :delete, data: { confirm: 'Are you sure?' } %></td><!--Not required-->
      </tr>
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr class="hr" style="width: 50%;">
<!--end of pool-->

<!--all fuseball-->
<h3 id="clickFB">Fuseball <% @count = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% if my_game.game_name == 'Fuseball' %>
<% @count = @count + 1 %>

<% end %>
<% end %>
<% end %>
(<%= @count %>)</h3>


<div id="fb" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game</th>
      <!--<th>Game type</th>-->
      <th>Date</th>
      <!--<th>Player one</th>-->
      <th>Opponent</th>
      <th>Result</th>
      <!-------------------
      <th>Player three</th>
      <th>Player four</th>
      <th>Isprivate</th>
      --------------------->
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <% if current_user.username == my_game.player_one %>
        <% if my_game.game_name == 'Fuseball' %>

        <td><%= my_game.game_name %></td>
        <%#= my_game.game_type %> <!--Not required-->
        <td><%= my_game.date %></td>
        <%#= my_game.player_one %><!--Not required-->
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
        <%#= my_game.player_three %><!--Not required-->
        <%#= my_game.player_four %><!--Not required-->
        <%#= my_game.isPrivate %><!--Not required-->
        <%#= link_to 'Show', my_game %><!--Not required-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(my_game) %></td>
        <td><%= link_to 'Destroy', my_game, method: :delete, data: { confirm: 'Are you sure?' } %></td><!--Not required-->
      </tr>
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr class="hr" style="width: 50%;">
<!--end of fuseball-->
</div> <!--end of singles container-->


<br>

<%= render 'doubles/index' %><br>


<a href="/sod"><button id="gameButton">Create new game</button></a>

<!---------------------------------------------------------------------------------------
  The below code is for testing only 
---------------------------------------------------------------------------------------->





<h1>Testing</h1>


<% @my_games.each do |m| %>
<% if m.confirm == 1 %>
<% else %>
<% if m.result == 'Yet to be played' %>
<% else %>
<% if m.player_two == current_user.username %>
<p><%= m.player_one %> has said that they played you in <%= m.game_name %> on <%= m.date %> and that they <% if m.result == 'Lose' %> Lost<% else %> Won<% end %></p><a href="/confirm/<%= m.id %>"><button>Confirm</button></a><br>
<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a>

<% end %>
<% end %>
<% end %>
<% end %>

<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Game</th>
      <th>Player One</th>
      <th>Player Two</th>
      <th>Result</th>
      <th>Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <% @my_games.each do |m| %>
    <tr>
      <td><%= m.game_name %></td>
      <td><%= m.player_one %></td>
      <td><%= m.player_two %></td>
      <td><%= m.result %></td>
      <td><% if m.confirm == 1 %>Confirmed<% end %><% if m.confirm != 1 && m.result == 'Win' %>Needs to be confirmed<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a><%end%><% if m.confirm != 1 && m.result == 'Lose' %>Needs to be confirmed<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a><%end%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<!---------------------------------------------------------------------------------------
  The above code is for testing only 
---------------------------------------------------------------------------------------->



</div>









    <script>
  $(document).ready(function(){
  $("#singlesClick").click(function(){
  $("#singlesTable").toggle('slow');
  });

  $("#clickTT").click(function(){
  $("#TT").toggle('slow');
  });
  $("#clickPool").click(function(){
  $("#pool").toggle('slow');
  });
  $("#clickFB").click(function(){
  $("#fb").toggle('slow');
  });
  $("#x").click(function(){
  $("#xx").toggle('slow');
  });
});
    </script>

<style type="text/css">

  #x:hover, #singlesClick:hover, #clickTT:hover, #clickFB:hover, #clickPool:hover{
    animation: bounce 1s infinite;
    cursor: pointer;
  }
  #x{
    cursor: pointer;
  }
  #xx{
    display: none;
  }
  
</style>