<style type="text/css">.hi{background-color:white;color:black;}#TT, #pool, #fb{display: none;}

#gameButton{
  height: 30px;
  background-color: #bd6019;
  color: white;
  border:none;
  border-radius: 10%;
  width: 200px;
  cursor: pointer;
}
#gameButton:hover{
  animation: bounce 1s infinite;
}

.requests{
  width: 200px;
  background-color: #103f4f;
  border: 1px solid orange;
  border-radius: 10%;
  cursor: pointer;
  color: white;
  padding: 5px;
  margin: 2px;



}
#requests1{
  background-color: orange;
}
.requests:hover{
  animation: bounce 1s infinite;
}
#TT table tr:hover, #pool table tr:hover, #fb table tr:hover, #dTT table tr:hover, #dpool table tr:hover, #dfb table tr:hover{
  color:black;
}
#TT table th, #pool table th, #fb table th, #dTT table th, #dpool table th, #dfb table th{
  background-color: orange;
}

</style>


<div id="conversation" class="w3-container"><br><br>
<a href="/sod"><button id="gameButton">Create new game</button></a>
<a href="/lb"><button id="gameButton">Leaderboard</button></a>
<br><br><br><br>

<h1 id="x">&#9776; Singles
<% @singleConfirmed = 0 %>
<% @my_games.each do |m| %>
<% if m.player_one == current_user.username && m.confirm == 1 %></h1>
<% @singleConfirmed = @singleConfirmed + 1 %><% end %><% end %>
<h4><% if @singleConfirmed >= 10 %>
<a href="/secretgame"><button class="requests">Game Unlocked</button></a>
<% else %>
<%= @singleConfirmed %> Confirmed. Get <%= 10-@singleConfirmed%> more to unlock secret game</h4>
<% end %>


<hr class="hr">





<% @c = 0 %>
<% @my_games.each do |m| %>
<% if m.player_two == current_user.username && m.confirm != 1 %>
<% @c = @c + 1 %>
<% end %>
<% end %>

<h3 id="singlesClick">&#9776; Confirmation Requests (<%= @c %>)</h3>



<div id="singlesTable" class="w3-responsive">
<% @my_games.each do |m| %>
<% if m.confirm == 1 %>
<% else %>
<% if m.result == 'Yet to be played' %>
<% else %>
<% if m.player_two == current_user.username %>
<p><%= m.player_one %> has said that they played you in <%= m.game_name %> on <%= m.date %> and that they <% if m.result == 'Lose' %> Lost<% else %> Won<% end %></p>

<a href="/confirm/<%= m.id %>"><button id="requests1" class="requests">Confirm</button></a>
<a href="/conversations"><button class="requests">Message User</button></a>
<a href="/contacts/new"><button class="requests">Report to Admin</button></a><hr>

<% end %>
<% end %>
<% end %>
<% end %>
<hr>



</div><br>
<div id="xx">


<!--all TT-->
<h3 id="clickTT">&#9776; Table Tennis
<% @count = 0 %>
<% @confirmedNP = 0 %>
<% @confirmedLost = 0 %>
<% @confirmedWin = 0 %>
<% @confirmed = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% if my_game.game_name == 'Table Tennis' %>
<% @count = @count + 1 %>
<% end %>
<% end %>
<% if my_game.game_name == 'Table Tennis' && my_game.confirm == 1%>
<% @confirmed = @confirmed + 1 %>
<% end %>
<% if my_game.game_name == 'Table Tennis' && my_game.confirm == 1 && my_game.result == 'Win' %>
<% @confirmedWin = @confirmedWin + 1 %>
<% end %>
<% if my_game.game_name == 'Table Tennis' && my_game.confirm == 1 && my_game.result == 'Lose' %>
<% @confirmedLost = @confirmedLost + 1 %>
<% end %>
<% if my_game.game_name == 'Table Tennis' && my_game.result == 'Yet to be played' %>
<% @confirmedNP = @confirmedNP + 1 %>
<% end %>
<% end %>  
</h3>
<ul>
<li>Recorded: <%= @count %></li>
<li>Confirmed: <%= @confirmed %></li>
<li>Won: <%= @confirmedWin %></li>
<li>Lost: <%= @confirmedLost %></li>
<li>Waiting to be confirmed: <%= @count - @confirmed - @confirmedNP %></li>
<li>Still to be played: <%= @confirmedNP %></li>
</ul><br>


<div id="TT" class="w3-responsive">
<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Game</th>
      <th>Opponent</th>
      <th>Result</th>
      <th>Date</th>
      <th>Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <% @my_games.each do |m| %>
    <% if current_user.username == m.player_one %>
    <% if m.game_name == 'Table Tennis' %>
    <tr>
      <td><%= m.game_name %></td>
      <td><%= m.player_two %></td>
      <td><%= m.result %></td>
      <td><%= m.date %></td>
      <td><% if m.confirm == 1 %>Confirmed<% end %><% if m.confirm != 1 && m.result == 'Win' %>Not confirmed yet<br>
        <a href="/conversations"><button class="requests">Message User</button></a>
        <a href="/contacts/new"><button class="requests">Report to Admin</button></a><%end%><% if m.confirm != 1 && m.result == 'Lose' %>Not confirmed yet<br>
        <a href="/conversations"><button class="requests">Message User</button></a>
        <a href="/contacts/new"><button class="requests">Report to Admin</button></a><%end%></td>
      <% if m.result == 'Yet to be played' %><td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(m), class: 'no-decoration' %></td><% end %>
      <td><%#= link_to 'Delete', m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% else %>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
<hr class="hr">
</div>
<hr>

<!--end of tt-->

<!--all pool-->
<h3 id="clickPool">&#9776; Pool
<% @count = 0 %>
<% @confirmedNP = 0 %>
<% @confirmedLost = 0 %>
<% @confirmedWin = 0 %>
<% @confirmed = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% if my_game.game_name == 'Pool' %>
<% @count = @count + 1 %>
<% end %>
<% end %>
<% if my_game.game_name == 'Pool' && my_game.confirm == 1%>
<% @confirmed = @confirmed + 1 %>
<% end %>
<% if my_game.game_name == 'Pool' && my_game.confirm == 1 && my_game.result == 'Win' %>
<% @confirmedWin = @confirmedWin + 1 %>
<% end %>
<% if my_game.game_name == 'Pool' && my_game.confirm == 1 && my_game.result == 'Lose' %>
<% @confirmedLost = @confirmedLost + 1 %>
<% end %>
<% if my_game.game_name == 'Pool' && my_game.result == 'Yet to be played' %>
<% @confirmedNP = @confirmedNP + 1 %>
<% end %>
<% end %></h3>
<ul>
<li>Recorded: <%= @count %></li>
<li>Confirmed: <%= @confirmed %></li>
<li>Won: <%= @confirmedWin %></li>
<li>Lost: <%= @confirmedLost %></li>
<li>Waiting to be confirmed: <%= @count - @confirmed - @confirmedNP %></li>
<li>Still to be played: <%= @confirmedNP %></li>
</ul><br>


<div id="pool" class="w3-responsive">
<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Game</th>
      <th>Opponent</th>
      <th>Result</th>
      <th>Date</th>
      <th>Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <% @my_games.each do |m| %>
    <% if current_user.username == m.player_one %>
    <% if m.game_name == 'Pool' %>
    <tr>
      <td><%= m.game_name %></td>
      <td><%= m.player_two %></td>
      <td><%= m.result %></td>
      <td><%= m.date %></td>
      <td><% if m.confirm == 1 %>Confirmed<% end %><% if m.confirm != 1 && m.result == 'Win' %>Not confirmed yet<br>
        <a href="/conversations"><button class="requests">Message User</button></a>
        <a href="/contacts/new"><button class="requests">Report to Admin</button></a><%end%><% if m.confirm != 1 && m.result == 'Lose' %>Not confirmed yet<br>
        <a href="/conversations"><button class="requests">Message User</button></a>
        <a href="/contacts/new"><button class="requests">Report to Admin</button></a><%end%></td>
      <% if m.result == 'Yet to be played' %><td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(m), class: 'no-decoration' %></td><% end %>
      <td><%#= link_to 'Delete', m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% else %>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
<hr class="hr">
</div> 
<hr>

<!--end of pool-->

<!--all fuseball-->
<h3 id="clickFB">&#9776; Fuseball
<% @count = 0 %>
<% @confirmedNP = 0 %>
<% @confirmedLost = 0 %>
<% @confirmedWin = 0 %>
<% @confirmed = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% if my_game.game_name == 'Fuseball' %>
<% @count = @count + 1 %>
<% end %>
<% end %>
<% if my_game.game_name == 'Fuseball' && my_game.confirm == 1%>
<% @confirmed = @confirmed + 1 %>
<% end %>
<% if my_game.game_name == 'Fuseball' && my_game.confirm == 1 && my_game.result == 'Win' %>
<% @confirmedWin = @confirmedWin + 1 %>
<% end %>
<% if my_game.game_name == 'Fuseball' && my_game.confirm == 1 && my_game.result == 'Lose' %>
<% @confirmedLost = @confirmedLost + 1 %>
<% end %>
<% if my_game.game_name == 'Fuseball' && my_game.result == 'Yet to be played' %>
<% @confirmedNP = @confirmedNP + 1 %>
<% end %>
<% end %></h3>
<ul>
<li>Recorded: <%= @count %></li>
<li>Confirmed: <%= @confirmed %></li>
<li>Won: <%= @confirmedWin %></li>
<li>Lost: <%= @confirmedLost %></li>
<li>Waiting to be confirmed: <%= @count - @confirmed - @confirmedNP %></li>
<li>Still to be played: <%= @confirmedNP %></li>
</ul><br>


<div id="fb" class="w3-responsive">
<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Game</th>
      <th>Opponent</th>
      <th>Result</th>
      <th>Date</th>
      <th>Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <% @my_games.each do |m| %>
    <% if current_user.username == m.player_one %>
    <% if m.game_name == 'Fuseball' %>
    <tr>
      <td><%= m.game_name %></td>
      <td><%= m.player_two %></td>
      <td><%= m.result %></td>
      <td><%= m.date %></td>
      <td><% if m.confirm == 1 %>Confirmed<% end %><% if m.confirm != 1 && m.result == 'Win' %>Not confirmed yet<br>
        <a href="/conversations"><button class="requests">Message User</button></a>
        <a href="/contacts/new"><button class="requests">Report to Admin</button></a><%end%><% if m.confirm != 1 && m.result == 'Lose' %>Not confirmed yet<br>
        <a href="/conversations"><button class="requests">Message User</button></a>
        <a href="/contacts/new"><button class="requests">Report to Admin</button></a><%end%></td>
      <% if m.result == 'Yet to be played' %><td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(m), class: 'no-decoration' %></td><% end %>
      <td><%#= link_to 'Delete', m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% else %>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
<hr class="hr">
</div> 
<hr>

<!--end of fuseball-->
</div> <!--end of singles container-->


<br>

<%= render 'doubles/index' %>








</div>
<!-- end of container --> 









    <script>
  $(document).ready(function(){
  $("#singlesClick").click(function(){
  $("#singlesTable").toggle('slow');
  });

  $("#clickTT").click(function(){
  $("#TT").toggle('slow');
  });
  $("#clickPool").click(function(){
  $("#pool").toggle('slow');
  });
  $("#clickFB").click(function(){
  $("#fb").toggle('slow');
  });
  $("#x").click(function(){
  $("#xx").toggle('slow');
  });
});
    </script>

<style type="text/css">

  #x:hover, #singlesClick:hover, #clickTT:hover, #clickFB:hover, #clickPool:hover{
    animation: bounce 1s infinite;
    cursor: pointer;
  }
  #x{
    cursor: pointer;
  }
  #xx{
    display: none;
  }
  
</style>