<style type="text/css">#hi{background-color:white;color:black;}#singlesTable{display:none;}</style>


<div id="conversation" class="w3-container">

<h1 id="singlesClick">My Games - Singles <% @count = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == @email %>
<% @count = @count + 1 %>

<% end %>

<% end %>
<% if @count == 0 %>
(No games played yet)
<% elsif @count == 1 %>
(<%= @count %> Game Recorded)
<% else %>
(<%= @count %> Games Recorded)
<% end %></h1>


<div id="singlesTable" class="w3-responsive">
<table id="hi" class="w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game</th>
      <!--<th>Game type</th>-->
      <th>Date</th>
      <!--<th>Player one</th>-->
      <th>Against</th>
      <th>Result</th>
      <!-------------------
      <th>Player three</th>
      <th>Player four</th>
      <th>Isprivate</th>
      --------------------->
      
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <% if @email == my_game.player_one %>

        <td><%= my_game.game_name %></td>
        <%#= my_game.game_type %> <!--Not required-->
        <td><%= my_game.date %></td>
        <%#= my_game.player_one %><!--Not required-->
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
        <%#= my_game.player_three %><!--Not required-->
        <%#= my_game.player_four %><!--Not required-->
        <%#= my_game.isPrivate %><!--Not required-->
        <%#= link_to 'Show', my_game %><!--Not required-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(my_game) %></td>
        <%#= link_to 'Destroy', my_game, method: :delete, data: { confirm: 'Are you sure?' } %><!--Not required-->
      </tr>
      <% else %>
      
    <% end %>
      
    <% end %>
  </tbody>
</table>
</div>
<hr>

<br>

<%= render 'doubles/index' %>


<a href="/sod"><button>Create new game</button></a>

</div>



    <script>
  $(document).ready(function(){
  $("#singlesClick").click(function(){
  $("#singlesTable").toggle('slow');
  });
});
    </script>