<style type="text/css">.hi{background-color:white;color:black;}#singlesTable{display:none;}#TT, #pool, #fb{display: none;}

#gameButton{
  width: 50%;
  height: 30px;
  background-color: #bd6019;
  color: white;
  border:none;
  font-size: 20px;
  border-radius: 10%;
}
#gameButton:hover{
  animation: bounce 1s infinite;
}


</style>


<div id="conversation" class="w3-container">

<h1 id="x">Singles</h1><hr>

<div id="xx">

<!-------------------------------------------------------------------------------------------------
<div class="w3-responsive"> <h1>Overview</h1>
<#% @totalwins = 0 %>
<#% @pwins = 0 %>
<#% @twins = 0 %>
<#% @fwins = 0 %>
<#% @my_games.each do |my_game| %>
<#% if current_user.email == my_game.player_one && my_game.game_name=='Pool' && my_game.result== 'Win' %>
<#% @pwins = @pwins + 1 %>
<#% end %>
<#% if current_user.email == my_game.player_one && my_game.game_name=='Table Tennis' && my_game.result == 'Win'  %>
<#% @twins = @twins + 1 %>
<#% end %>
<#% if current_user.email == my_game.player_one && my_game.game_name=='Fuseball' && my_game.result == 'Win'  %>
<#% @fwins = @fwins + 1 %>
<#% end %>
<#% if current_user.email == my_game.player_one && my_game.result== 'Win' %>
<#% @totalwins = @totalwins + 1 %>
<#% end %>

<#% @totallosses = 0 %>
<#% @plosses = 0 %>
<#% @tlosses = 0 %>
<#% @flosses = 0 %>
<#% if current_user.email == my_game.player_one && my_game.game_name=='Pool' && my_game.result== 'Lose' %>
<#% @plosses = @plosses + 1 %>
<#% end %>
<#% if current_user.email == my_game.player_one && my_game.game_name=='Table Tennis' && my_game.result == 'Lose'  %>
<#% @tlosses = @tlosses + 1 %>
<#% end %>
<#% if current_user.email == my_game.player_one && my_game.game_name=='Fuseball' && my_game.result == 'Lose'  %>
<#% @flosses = @flosses + 1 %>
<%# end %>
<#% if current_user.email == my_game.player_one && my_game.result== 'Lose' %>
<#% @totallosses = @totallosses + 1 %>
<#% end %>###

<%# @totalnp = 0 %>
<%# @pnp = 0 %>
<%# @tnp = 0 %>
<%# @fnp = 0 %>
<%# if current_user.email == my_game.player_one && my_game.game_name=='Pool' && my_game.result== 'Yet to be played' %>
<%# @pnp = @pnp + 1 %>
<%# end %>
<%# if current_user.email == my_game.player_one && my_game.game_name=='Table Tennis' && my_game.result == 'Yet to be played'  %>
<%# @tnp = @tnp + 1 %>
<%# end %>
<%# if current_user.email == my_game.player_one && my_game.game_name=='Fuseball' && my_game.result == 'Yet to be played'  %>
<%# @fnp = @fnp + 1 %>
<%# end %>
<%# if current_user.email == my_game.player_one && my_game.result== 'Yet to be played' %>
<%# @totalnp = @totalnp + 1 %>
<%#= current_user.email %>
<%#= my_game.player_one %>
<%# end %>

<%# end %>


<table class="w3-table w3-border ">
  <thead><tr><td>Total Wins</td><td>Pool</td><td>Table Tennis</td><td>Fuseball</td></tr></thead>

<tbody>
  <tr>
<td><%= @totalwins %></td>
<td><%= @pwins %></td>
<td><%= @twins %></td>
<td><%= @fwins %></td>
</tr></tbody>
</table><br>

<table class="w3-table w3-border ">
  <thead><tr><td>Total Losses</td><td>Pool</td><td>Table Tennis</td><td>Fuseball</td></tr></thead>

<tbody>
  <tr>
<td><%= @totallosses %></td>
<td><%= @plosses %></td>
<td><%= @tlosses %></td>
<td><%= @flosses %></td>
</tr></tbody>
</table><br>

<table class="w3-table w3-border ">
  <thead><tr><td>Yet to be Played</td><td>Pool</td><td>Table Tennis</td><td>Fuseball</td></tr></thead>

<tbody>
  <tr>
<td><%= @totalnp %></td>
<td><%= @pnp %></td>
<td><%= @tnp %></td>
<td><%= @fnp %></td>
</tr></tbody>
</table><br>
</div><br><br>

------------------------------------------------------------------------------->



<h3 id="singlesClick">All Games <% @count = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% @count = @count + 1 %>

<% end %>

<% end %>
<% if @count == 0 %>
(No games played yet)
<% elsif @count == 1 %>
(<%= @count %> Game Recorded)
<% else %>
(<%= @count %> Games Recorded)
<% end %></h3>
<% if @count > 5 %>

<a href="/"><button>Secret Button</button></a>
<% end %>


<div id="singlesTable" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game</th>
      <!--<th>Game type</th>-->
      <th>Date</th>
      <!--<th>Player one</th>-->
      <th>Opponent</th>
      <th>Result</th>
      <!-------------------
      <th>Player three</th>
      <th>Player four</th>
      <th>Isprivate</th>
      --------------------->
      
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <% if current_user.username == my_game.player_one %>

        <td><%= my_game.game_name %></td>
        <%#= my_game.game_type %> <!--Not required-->
        <td><%= my_game.date %></td>
        <%#= my_game.player_one %><!--Not required-->
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
        <%#= my_game.player_three %><!--Not required-->
        <%#= my_game.player_four %><!--Not required-->
        <%#= my_game.isPrivate %><!--Not required-->
        <%#= link_to 'Show', my_game %><!--Not required-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(my_game) %></td>
        <td><%= link_to 'Delete', my_game, method: :delete, data: { confirm: 'Are you sure?' } %></td><!--Not required-->
      </tr>
      <% else %>
      
    <% end %>
      
    <% end %>
  </tbody>
</table>
</div>
<hr style="width: 25%;">


<!--all TT-->
<h3 id="clickTT">Table Tennis <% @count = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% if my_game.game_name == 'Table Tennis' %>
<% @count = @count + 1 %>
<% end %>
<% end %>

<% end %>
(<%= @count %>)</h3>


<div id="TT" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game</th>
      <!--<th>Game type</th>-->
      <th>Date</th>
      <!--<th>Player one</th>-->
      <th>Opponent</th>
      <th>Result</th>
      <!-------------------
      <th>Player three</th>
      <th>Player four</th>
      <th>Isprivate</th>
      --------------------->
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <% if current_user.username == my_game.player_one %>
        <% if my_game.game_name == 'Table Tennis' %>

        <td><%= my_game.game_name %></td>
        <%#= my_game.game_type %> <!--Not required-->
        <td><%= my_game.date %></td>
        <%#= my_game.player_one %><!--Not required-->
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
        <%#= my_game.player_three %><!--Not required-->
        <%#= my_game.player_four %><!--Not required-->
        <%#= my_game.isPrivate %><!--Not required-->
        <%#= link_to 'Show', my_game %><!--Not required-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(my_game) %></td>
        <td><%= link_to 'Destroy', my_game, method: :delete, data: { confirm: 'Are you sure?' } %></td><!--Not required-->
      </tr>
      
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr style="width: 50%;">
<!--end of tt-->

<!--all pool-->
<h3 id="clickPool">Pool <% @count = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% if my_game.game_name == 'Pool' %>
<% @count = @count + 1 %>
<% end %>
<% end %>

<% end %>
(<%= @count %>)</h3>


<div id="pool" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game</th>
      <!--<th>Game type</th>-->
      <th>Date</th>
      <!--<th>Player one</th>-->
      <th>Opponent</th>
      <th>Result</th>
      <!-------------------
      <th>Player three</th>
      <th>Player four</th>
      <th>Isprivate</th>
      --------------------->
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <% if current_user.username == my_game.player_one %>
        <% if my_game.game_name == 'Pool' %>

        <td><%= my_game.game_name %></td>
        <%#= my_game.game_type %> <!--Not required-->
        <td><%= my_game.date %></td>
        <%#= my_game.player_one %><!--Not required-->
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
        <%#= my_game.player_three %><!--Not required-->
        <%#= my_game.player_four %><!--Not required-->
        <%#= my_game.isPrivate %><!--Not required-->
        <%#= link_to 'Show', my_game %><!--Not required-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(my_game) %></td>
        <td><%= link_to 'Destroy', my_game, method: :delete, data: { confirm: 'Are you sure?' } %></td><!--Not required-->
      </tr>
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr style="width: 75%;">
<!--end of pool-->

<!--all fuseball-->
<h3 id="clickFB">Fuseball <% @count = 0 %>
<% @my_games.each do |my_game| %>
<% if my_game.player_one == current_user.username %>
<% if my_game.game_name == 'Fuseball' %>
<% @count = @count + 1 %>

<% end %>
<% end %>
<% end %>
(<%= @count %>)</h3>


<div id="fb" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game</th>
      <!--<th>Game type</th>-->
      <th>Date</th>
      <!--<th>Player one</th>-->
      <th>Opponent</th>
      <th>Result</th>
      <!-------------------
      <th>Player three</th>
      <th>Player four</th>
      <th>Isprivate</th>
      --------------------->
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <% if current_user.username == my_game.player_one %>
        <% if my_game.game_name == 'Fuseball' %>

        <td><%= my_game.game_name %></td>
        <%#= my_game.game_type %> <!--Not required-->
        <td><%= my_game.date %></td>
        <%#= my_game.player_one %><!--Not required-->
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
        <%#= my_game.player_three %><!--Not required-->
        <%#= my_game.player_four %><!--Not required-->
        <%#= my_game.isPrivate %><!--Not required-->
        <%#= link_to 'Show', my_game %><!--Not required-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_my_game_path(my_game) %></td>
        <td><%= link_to 'Destroy', my_game, method: :delete, data: { confirm: 'Are you sure?' } %></td><!--Not required-->
      </tr>
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr>
<!--end of fuseball-->
</div> <!--end of singles container-->


<br>

<%= render 'doubles/index' %><br>


<a href="/sod"><button id="gameButton">Create new game</button></a>



</div>









    <script>
  $(document).ready(function(){
  $("#singlesClick").click(function(){
  $("#singlesTable").toggle('slow');
  });

  $("#clickTT").click(function(){
  $("#TT").toggle('slow');
  });
  $("#clickPool").click(function(){
  $("#pool").toggle('slow');
  });
  $("#clickFB").click(function(){
  $("#fb").toggle('slow');
  });
  $("#x").click(function(){
  $("#xx").toggle('slow');
  });
});
    </script>

<style type="text/css">

  #x:hover, #singlesClick:hover, #clickTT:hover, #clickFB:hover, #clickPool:hover{
    animation: bounce 1s infinite;
    cursor: pointer;
  }
  #x{
    cursor: pointer;
  }
  #xx{
    display: none;
  }
  
</style>