<style type="text/css">
  .singleTable table, .doubleTable table{
    display: inline;
    margin-left: 5px;
  }
  .singleTable table th, .doubleTable table th{
    background-color: orange;
  }
  .singleTable table td, .doubleTable table td{
    color: white;
  }
  .singleTable table td:hover, .doubleTable table td:hover{
    color: black;
  }
  .lbBorder{
  
  padding: 10px;
  }
  .orange{
    color:orange;
  }
  #lbPoolClick, #lbPoolClickd{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://sem4project.s3-eu-west-1.amazonaws.com/assets/pool.jfif);
  }
  #lbTTClick, #lbTTClickd{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://sem4project.s3-eu-west-1.amazonaws.com/assets/tt.jfif); 
  }
  #lbFBClick, #lbFBClickd{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://sem4project.s3-eu-west-1.amazonaws.com/assets/fb.jpg); 

  }   

  .master{
    color: red;
    font-weight: 900;
  }
  .beginner{
    color: green;
    font-weight: 900;
  }  
  .gettingInto{
    color: teal;
    font-weight: 900;
  }
  .w3-table th:first-child, .w3-table td:first-child, .w3-table-all th:first-child, .w3-table-all td:first-child {width: 350px;}
</style>

<div id="conversation" class="w3-container">
<br><br>


<!-- Start of singles -->
<hr class="hr">
<h1 id="lbSingleClick"><i class="fas fa-bars"></i> Singles Leaderboard</h1><hr class="hr">
<div class="singleTable">
<!-- start of pool --> 
<% @poolTotal = 0 %>
<% @poolWin = 0 %>
<% @poolLost = 0 %>
<%# @poolNotPlayedYet = 0 %>


<%# @totalp.each do |k,v| %>
<%# @poolTotal = @poolTotal + v %>
<%# end %>

<% @poolLeaderboardW.each do |k,v| %>
<% @poolWin = @poolWin + v %>
<% end %>

<% @poolLeaderboardL.each do |k,v| %>
<% @poolLost = @poolLost + v %>
<% end %>

<%# @poolLeaderboardNP.each do |k,v| %>
<%# @poolNotPlayedYet = @poolNotPlayedYet + v %>
<%# end %>

<% @poolTotal = @poolLost + @poolWin %>


<div id="lbPoolClick">
<h2 class="orange"><i class="fas fa-bars"></i> Pool</h2>
<div class="lbBorder">
<p>Total Games Recorded (<%= @poolTotal %>)</p>
<p><%= @poolWin %><% if @poolWin == 1 %> Win<% else %> Wins<% end %></p>
<p><%= @poolLost %><% if @poolLost == 1 %> Lost<% else %> Losses<% end %></p>
</div><br>
</div><br>
<div id="lbPool" class="w3-responsive">



<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Won</th>
    </tr>
  </thead>


  <tbody>
<% @poolLeaderboardW.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>

<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Lost</th>
    </tr>
  </thead>


  <tbody>
<% @poolLeaderboardL.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>




<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Played</th>
    </tr>
  </thead>


  <tbody>
<% @totalp.each do |key, value| %>
<tr>
 
  
 
<td><a class="no-decoration" href="/conversations">
<% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%>
<% if value >= 10 %>
(<%= value %>)</a><span class="master"> - Loves to Play! Feature Unlocked in "My Games"</span>
<% elsif value >= 5 %>
(<%= value %>)</a><span class="gettingInto"> - Getting into it</span>
<% else %>
(<%= value %>)</a><span class="beginner"> - Beginner</span>
<% end %>
<% end %>
</td>



</tr>   
  </tbody>
</table><hr>
</div><br>

<!-- end of pool -->

<!-- start of TT --> 
<% @tableTennisTotal = 0 %>
<% @tableTennisWin = 0 %>
<% @tableTennisLost = 0 %>





<% @ttLeaderboardW.each do |k,v| %>
<% @tableTennisWin = @tableTennisWin + v %>
<% end %>

<% @ttLeaderboardL.each do |k,v| %>
<% @tableTennisLost = @tableTennisLost + v %>
<% end %>

<% @tableTennisTotal = @tableTennisWin + @tableTennisLost %>

<div id="lbTTClick">
<h2 class="orange"><i class="fas fa-bars"></i> Table Tennis</h2>
<div class="lbBorder">
<p>Total Games Recorded (<%= @tableTennisTotal %>)</p>
<p><%= @tableTennisWin %><% if @tableTennisWin == 1 %> Win<% else %> Wins<% end %></p>
<p><%= @tableTennisLost %><% if @tableTennisLost == 1 %> Lost<% else %> Losses<% end %></p>
</div><br>
</div><br>



<div id="lbTT" class="w3-responsive">

<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Won</th>
    </tr>
  </thead>


  <tbody>
<% @ttLeaderboardW.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>  


<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Lost</th>
    </tr>
  </thead>


  <tbody>
<% @ttLeaderboardL.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>


<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Played</th>
    </tr>
  </thead>


  <tbody>
<% @totaltt.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations">
<% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%>
<% if value >= 10 %>
(<%= value %>)</a><span class="master"> - Loves to Play! Feature Unlocked in "My Games"</span>
<% elsif value >= 5 %>
(<%= value %>)</a><span class="gettingInto"> - Getting into it</span>
<% else %>
(<%= value %>)</a><span class="beginner"> - Beginner</span>
<% end %>
<% end %>
</td>

</tr>   
  </tbody>
</table><hr>



</div><br>
<!-- end of table tennis -->


<!-- start of fuseball -->
<% @fuseBallTotal = 0 %>
<% @fuseBallWin = 0 %>
<% @fuseBallLost = 0 %>

<% @fbLeaderboardW.each do |k,v| %>
<% @fuseBallWin = @fuseBallWin + v %>
<% end %>

<% @fbLeaderboardL.each do |k,v| %>
<% @fuseBallLost = @fuseBallLost + v %>
<% end %>

<% @fuseBallTotal = @fuseBallWin + @fuseBallLost %>

<div id="lbFBClick">
<h2 class="orange"><i class="fas fa-bars"></i> Fuseball</h2>
<div class="lbBorder">
<p>Total Games Recorded (<%= @fuseBallTotal %>)</p>
<p><%= @fuseBallWin %><% if @fuseBallWin == 1 %> Win<% else %> Wins<% end %></p>
<p><%= @fuseBallLost %><% if @fuseBallLost == 1 %> Lost<% else %> Losses<% end %></p>
</div><br>
</div><br>

<div id="lbFB" class="w3-responsive">



<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Won</th>
    </tr>
  </thead>


  <tbody>
<% @fbLeaderboardW.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>

<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Lost</th>
    </tr>
  </thead>


  <tbody>
<% @fbLeaderboardL.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>



<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Played</th>
    </tr>
  </thead>


  <tbody>
<% @totalfb.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations">
<% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%>
<% if value >= 10 %>
(<%= value %>)</a><span class="master"> - Loves to Play! Feature Unlocked in "My Games"</span>
<% elsif value >= 5 %>
(<%= value %>)</a><span class="gettingInto"> - Getting into it</span>
<% else %>
(<%= value %>)</a><span class="beginner"> - Beginner</span>
<% end %>
<% end %>
</td>

</tr>   
  </tbody>
</table><hr>
</div><br> 
<!-- end of fuseball -->


</div><br><br>
<!-----End of singles leaderboard-------------------->


<!-- Start of doubles -->
<hr class="hr">
<h1 id="lbDoubleClick"><i class="fas fa-bars"></i> Doubles Leaderboard</h1><hr class="hr">
<div class="doubleTable">
<!-- start of pool --> 

<% @poolTotald = 0 %>
<% @poolWind = 0 %>
<% @poolLostd = 0 %>

<% @poolLeaderboardWd.each do |k,v| %>
<% @poolWind = @poolWind + v %>
<% end %>

<% @poolLeaderboardLd.each do |k,v| %>
<% @poolLostd = @poolLostd + v %>
<% end %>

<% @poolTotald = @poolLostd + @poolWind %>




<div id="lbPoolClickd">
<h2 class="orange"><i class="fas fa-bars"></i> Pool</h2>
<div class="lbBorder">
<p>Total Games Recorded (<%= @poolTotald %>)</p>
<p><%= @poolWind %><% if @poolWind == 1 %> Win<% else %> Wins<% end %></p>
<p><%= @poolLostd %><% if @poolLostd == 1 %> Lost<% else %> Losses<% end %></p>

</div><br>
</div><br>

<div id="lbPoold" class="w3-responsive">


<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Won</th>
    </tr>
  </thead>


  <tbody>
<% @poolLeaderboardWd.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>

<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Lost</th>
    </tr>
  </thead>


  <tbody>
<% @poolLeaderboardLd.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>


<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Played</th>
    </tr>
  </thead>


  <tbody>
<% @totalpd.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations">
<% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%>
<% if value >= 10 %>
(<%= value %>)</a><span class="master"> - Loves to Play! Feature Unlocked in "My Games"</span>
<% elsif value >= 5 %>
(<%= value %>)</a><span class="gettingInto"> - Getting into it</span>
<% else %>
(<%= value %>)</a><span class="beginner"> - Beginner</span>
<% end %>
<% end %>
</td>

</tr>   
  </tbody>
</table><hr>

</div><br>
<!-- end of pool -->

<!-- start of TT -->
<% @tableTennisTotald = 0 %>
<% @tableTennisWind = 0 %>
<% @tableTennisLostd = 0 %>


<% @ttLeaderboardWd.each do |k,v| %>
<% @tableTennisWind = @tableTennisWind + v %>
<% end %>

<% @ttLeaderboardLd.each do |k,v| %>
<% @tableTennisLostd = @tableTennisLostd + v %>
<% end %>

<% @tableTennisTotald = @tableTennisLostd + @tableTennisWind  %>

<div id="lbTTClickd">
<h2 class="orange"><i class="fas fa-bars"></i> Table Tennis</h2>
<div class="lbBorder">
<p>Total Games Recorded (<%= @tableTennisTotald %>)</p>
<p><%= @tableTennisWind %><% if @tableTennisWind == 1 %> Win<% else %> Wins<% end %></p>
<p><%= @tableTennisLostd %><% if @tableTennisLostd == 1 %> Lost<% else %> Losses<% end %></p>
</div><br>
</div><br>

<div id="lbTTd" class="w3-responsive">



<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Won</th>
    </tr>
  </thead>


  <tbody>
<% @ttLeaderboardWd.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>

<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Lost</th>
    </tr>
  </thead>


  <tbody>
<% @ttLeaderboardLd.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>


<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Played</th>
    </tr>
  </thead>


  <tbody>
<% @totalttd.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations">
<% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%>
<% if value >= 10 %>
(<%= value %>)</a><span class="master"> - Loves to Play! Feature Unlocked in "My Games"</span>
<% elsif value >= 5 %>
(<%= value %>)</a><span class="gettingInto"> - Getting into it</span>
<% else %>
(<%= value %>)</a><span class="beginner"> - Beginner</span>
<% end %>
<% end %>
</td>

</tr>   
  </tbody>
</table><hr>
</div><br>
<!-- end of table tennis -->


<!-- start of fuseball --> 
<% @fuseBallTotald = 0 %>
<% @fuseBallWind = 0 %>
<% @fuseBallLostd = 0 %>

<% @fbLeaderboardWd.each do |k,v| %>
<% @fuseBallWind = @fuseBallWind + v %>
<% end %>

<% @fbLeaderboardLd.each do |k,v| %>
<% @fuseBallLostd = @fuseBallLostd + v %>
<% end %>

<% @fuseBallTotald = @fuseBallWind + @fuseBallLostd %>

<div id="lbFBClickd"> 
<h2 class="orange"><i class="fas fa-bars"></i> Fuseball</h2>
<div class="lbBorder">
<p>Total Games Recorded (<%= @fuseBallTotald %>)</p>
<p><%= @fuseBallWind %><% if @fuseBallWind == 1 %> Win<% else %> Wins<% end %></p>
<p><%= @fuseBallLostd %><% if @fuseBallLostd == 1 %> Lost<% else %> Losses<% end %></p>
</div><br>
</div><br>

<div id="lbFBd" class="w3-responsive">



<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Won</th>
    </tr>
  </thead>


  <tbody>
<% @fbLeaderboardWd.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>

<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Lost</th>
    </tr>
  </thead>


  <tbody>
<% @fbLeaderboardLd.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations"><% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%> (<%= value %>)</a><% end %></td>
</tr>   
  </tbody>
</table>


<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Games Played</th>
    </tr>
  </thead>


  <tbody>
<% @totalfbd.each do |key, value| %>
<tr>
<td><a class="no-decoration" href="/conversations">
<% @users.each do |u| %><% if u.username == key %><%= image_tag avatar_url(u), size: 48, class: "circle" %><% end %><% end %> <%= key%>
<% if value >= 10 %>
(<%= value %>)</a><span class="master"> - Loves to Play! Feature Unlocked in "My Games"</span>
<% elsif value >= 5 %>
(<%= value %>)</a><span class="gettingInto"> - Getting into it</span>
<% else %>
(<%= value %>)</a><span class="beginner"> - Beginner</span>
<% end %>
<% end %>
</td>

</tr>   
  </tbody>
</table><hr>
</div><br>
<!-- end of fuseball -->






</div>
<!-----End of doubles leaderboard-------------------->

<br><br>

<a href="/dashboard"><button class="aButton">Dashboard</button></a><br><br>
<a href="/my_games"><button class="aButton">My Games</button></a>



</div>
<!-- end of container -->

<style type="text/css">
  table{
    color: black;
  }
  #lbFB, #lbTT, #lbPool, #lbFBd, #lbTTd, #lbPoold{
    display: none;
  }
  #lbPoolClick:hover, #lbTTClick:hover, #lbFBClick:hover, #lbSingleClick:hover, #lbDoubleClick:hover, #lbPoolClickd:hover, #lbTTClickd:hover, #lbFBClickd:hover{
    animation: bounce 1s infinite;
    cursor: pointer;
  }

  .singleTable, .doubleTable{
    display: none;
  }
    .aButton{
        width: 200px;
        border-radius: 10%;
        background-color: #bd6019;
        border:none;
        color: white;
    }
    .aButton:hover{
        opacity: 0.8;
    }  
</style>



<script>
  $(document).ready(function(){


  $("#lbPoolClick").click(function(){
  $("#lbPool").toggle('slow');
  });


  $("#lbSingleClick").click(function(){
  $(".singleTable").toggle('slow');
  });


  $("#lbTTClick").click(function(){
  $("#lbTT").toggle('slow');
  });


  $("#lbFBClick").click(function(){
  $("#lbFB").toggle('slow');
  });


//**************************************
  $("#lbPoolClickd").click(function(){
  $("#lbPoold").toggle('slow');
  });


  $("#lbDoubleClick").click(function(){
  $(".doubleTable").toggle('slow');
  });


  $("#lbTTClickd").click(function(){
  $("#lbTTd").toggle('slow');
  });


  $("#lbFBClickd").click(function(){
  $("#lbFBd").toggle('slow');
  });



});
</script>