<div id="conversation" class="w3-container">
  
<!-- Start of doubles -->
<!---------------------------------------------------
<h3>All Doubles</h3>
<div class="w3-responsive">
<table class="w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game Name</th>
      <th>Player</th>
      <th>Teammate</th>
      <th>Opponent</th>
      <th>Opponent</th>
      <th>Result</th> 
    </tr>
  </thead>


  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <td><%= double.game_name %></td>
        <td><%= double.player_one %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
      </tr>      
    <% end %>
  </tbody>
</table>
</div>
-------------------------------------------------->
<!-- end of doubles -->

<!-- Start of singles -->
<h3>All Singles</h3>
<div class="w3-responsive">
<table class="w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game Name</th>
      <th>Player</th>
      <th>Opponent</th>
      <th>Result</th> 
    </tr>
  </thead>


  <tbody>
    <% @my_games.each do |my_game| %>
      <tr>
        <td><%= my_game.game_name %></td>
        <td><%= my_game.player_one %></td>
        <td><%= my_game.player_two %></td>
        <td><%= my_game.result %></td>
      </tr>      
    <% end %>
  </tbody>
</table>
</div>
<!-- end of singles-->

<h3>Players</h3>
<div class="w3-responsive">
<table class="w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Singles Player</th>
      

  </thead>


  <tbody>
 <tr>

 <td><%= @leaderboard %></td>
 
  </tr>
   
  
   
    
  </tbody>
</table>
</div>
<!-- end of singles-->








</div>

<style type="text/css">
  table{
    color: black;
  }
</style>