<%= form_with(model: double, local: true) do |form| %>
  <% if double.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(double.errors.count, "error") %> prohibited this double from being saved:</h2>

      <ul>
      <% double.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_name %>
    <%= form.select :game_name, @game_names.collect {|u| [ u.name ] }, :prompt => 'Select One', id: :double_game_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :double_date %>
  </div>

  <div class="field">
    <%= form.label :player_one %>
    <%= form.select :player_one, [@email], id: :double_player_one %>
  </div>

  <div class="field">
    <%= form.label :player_two %>
    <%= form.select :player_two, @users.collect {|u| [ u.email ] }, :prompt => 'Select One', id: :double_player_two  %>
  </div>

  <div class="field">
    <%= form.label :player_three %>
    <%= form.select :player_three, @users.collect {|u| [ u.email ] }, :prompt => 'Select One', id: :double_player_three  %>
  </div>

  <div class="field">
    <%= form.label :player_four %>
    <%= form.select :player_four, @users.collect {|u| [ u.email ] }, :prompt => 'Select One', id: :double_player_four  %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.select :result, [ 'Win', 'Lose', 'Yet to be played'], :prompt => 'Select One',  id: :double_result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
