<% @a = 0 %>
<% @doubles.each do |d| %>
<% if d.result == 'Yet to be played' %>
<% else %>
<% if d.player_two == current_user.username && d.confirm_one != 1 %>
<% @a = @a+1 %>

<% end %>
<% if d.player_three == current_user.username && d.confirm_two != 1  %>
<% @a = @a+1 %>
<% end %>
<% if d.player_four == current_user.username && d.confirm_three != 1  %>
<% @a = @a+1 %>
<% end %>
<% end %>
<% end %>
<!---------------------------->




<h1 id="dx"><i class="fas fa-bars"></i> Doubles
<% @singleConfirmed = 0 %>
<% @doubles.each do |d| %>
<% if current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %></h1>
<% @singleConfirmed = @singleConfirmed + 1 %><% end %><% end %><% end %>
<h4><% if @singleConfirmed >= 10 %>
<a href="/anothersecretgame"><button class="requests">Game Unlocked</button></a>
<% else %>
<%= @singleConfirmed %> Confirmed. Get <%= 10-@singleConfirmed%> more to unlock secret game</h4>
<% end %>
<hr class="hr">



<h3 id="doublesClick"><i class="fas fa-bars"></i> Confirmation Requests (<%= @a %>)</h3>
<% if @a == 0 %><p>You have no confirmation requests</p><% end %>


<div id="doublesTable" class="w3-responsive">


<% @doubles.each do |d| %>


<% if d.result == 'Yet to be played' %>
<% else %>

<p>

<% if d.player_two == current_user.username && d.confirm_one != 1 %>
<%= d.player_one %> has said that they played with you in <%= d.game_name %> (doubles) on <%= d.date %> and that they <% if d.result == 'Lose' %> Lost<% else %> Won<% end %></p>
<a href="/confirm_one/<%= d.id %>"><button class="requests" id="requests1">Confirm</button></a>
<a href="/conversations"><button class="requests">Message User</button></a>
<a href="/contacts/new"><button class="requests">Report to Admin</button></a><hr>
<% end %>

<% if d.player_three == current_user.username && d.confirm_two != 1  %>
  <%= d.player_one %> has said that they played you in <%= d.game_name %> (doubles) on <%= d.date %> and that they <% if d.result == 'Lose' %> Lost<% else %> Won<% end %></p>
<a href="/confirm_two/<%= d.id %>"><button class="requests" id="requests1">Confirm</button></a>
<a href="/conversations"><button class="requests">Message User</button></a>
<a href="/contacts/new"><button class="requests">Report to Admin</button></a><hr>
<% end %>

<% if d.player_four == current_user.username && d.confirm_three != 1  %>
  <%= d.player_one %> has said that they played you in <%= d.game_name %> (doubles) on <%= d.date %> and that they <% if d.result == 'Lose' %> Lost<% else %> Won<% end %></p>
<a href="/confirm_three/<%= d.id %>"><button class="requests" id="requests1">Confirm</button></a>
<a href="/conversations"><button class="requests">Message User</button></a>
<a href="/contacts/new"><button class="requests">Report to Admin</button></a><hr>
<% end %>




<% end %>
<% end %>
<hr>
</div><br>

<div id="dxx">




<!--all TT-->
<h3 id="dclickTT"><i class="fas fa-bars"></i> Table Tennis
<% @count = 0 %>
<% @confirmedNP = 0 %>
<% @confirmedLost = 0 %>
<% @confirmedWin = 0 %>
<% @confirmed = 0 %>
<% @doubles.each do |d| %>
<% if d.player_one == current_user.username %>
<% if d.game_name == 'Table Tennis' %>
<% @count = @count + 1 %>
<% end %>

<% if d.game_name == 'Table Tennis' && current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %>
<% @confirmed = @confirmed + 1 %>
<% end %>
<% end %>
<% if d.game_name == 'Table Tennis' && d.result == 'Win' && current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %>
<% @confirmedWin = @confirmedWin + 1 %>
<% end %>
<% end %>
<% if d.game_name == 'Table Tennis' && d.result == 'Lose' && current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %>
<% @confirmedLost = @confirmedLost + 1 %>
<% end %>
<% end %>
<% if d.game_name == 'Table Tennis' && d.result == 'Yet to be played' && current_user.username == d.player_one %>
<% @confirmedNP = @confirmedNP + 1 %>
<% end %>
<% end %>
<% end %>  
</h3>
<ul>
<li>Recorded: <%= @count %></li>
<li>Confirmed: <%= @confirmed %></li>
<li>Won: <%= @confirmedWin %></li>
<li>Lost: <%= @confirmedLost %></li>
<li>Waiting to be confirmed: <%= @count - @confirmed - @confirmedNP %></li>
<li>Still to be played: <%= @confirmedNP %></li>
</ul><br>


<div id="dTT" class="w3-responsive">
<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Game</th>
      <th>Date</th>
      <th>Player Two</th>
      <th>Player Three</th>
      <th>Player Four</th>
      <th>Result</th>


    </tr>
  </thead>
  <tbody>
    <% @doubles.each do |d| %>
    <tr>
      <% if d.player_one == current_user.username %>
      <% if d.game_name == 'Table Tennis' %>
      <td><%= d.game_name %></td>
            <td>
        
        <% if d.result == 'Yet to be played' && d.date < Date.today %>
        <span style="color: red; font-weight: 500;">Reschedule</span>
        <% elsif  d.result == 'Yet to be played' && d.date >= Date.today %>
        <% @x = d.date - Date.today %>
        <% @x = @x.to_i %>

        <% if @x == 0 %>
        <span style="color: orange">Today</span>
        <% elsif @x == 1 %>
        <span style="color: orange">Tomorrow</span>
        <% else %>
        <span style="color: orange">In <%= @x %> Days</span>          
        <% end %>

        <% else %>
        <%= d.date.to_s(:long) %>
         <% end %> 
        </td>

      <% if d.result == 'Yet to be played' %>
      <td><%= d.player_two %></td>
      <% else %>
      <td><%= d.player_two %> - <% if d.confirm_one != 1 %>TBC
      <a href="/conversations"><button class="requestsTable">Message</button></a>
      <a href="/contacts/new"><button class="requestsTable">Report</button></a>
      <%end%><% if d.confirm_one == 1 %>Confirmed<%end%></td>
      <% end %>

      <% if d.result == 'Yet to be played' %>
      <td><%= d.player_three %></td>
      <% else %>
      <td><%= d.player_three %> - <% if d.confirm_two != 1 %>TBC
      <a href="/conversations"><button class="requestsTable">Message</button></a>
      <a href="/contacts/new"><button class="requestsTable">Report</button></a>
      <%end%><% if d.confirm_two == 1 %>Confirmed<%end%></td>
      <% end %>

      <% if d.result == 'Yet to be played' %>
      <td><%= d.player_four %></td>
      <% else %>
      <td><%= d.player_four %> - <% if d.confirm_three != 1 %>TBC
      <a href="/conversations"><button class="requestsTable">Message</button></a>
      <a href="/contacts/new"><button class="requestsTable">Report</button></a>
      <%end%><% if d.confirm_three == 1 %>Confirmed<%end%></td> 
      <% end %>
      

      <td>        <% if d.result == 'Win' %>
        <span style="color: green; font-weight: 700;"><%= d.result %></span>
        <% elsif d.result == 'Lose' %>
        <span style="color: red; font-weight: 700;"><%= d.result %></span>
        <% else %>
        <%= d.result %>
        <% end %>    <br>  <% if d.result == 'Yet to be played' %>
        <a style="margin-right: 15px;" href="/doubles/<%= d.id %>/edit"><i class="far fa-edit"></i></a>
        
      <%= link_to '<i class="fas fa-trash"></i>'.html_safe, d, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %></td>
    

      <% end %>
    </tr>
   
    <% end %>
    <% end %>
  </tbody>
</table>
<hr class="hr">
</div><br>
<hr>

<!--end of tt-->

<!--all pool-->
<h3 id="dclickPool"><i class="fas fa-bars"></i> Pool
<% @count = 0 %>
<% @confirmedNP = 0 %>
<% @confirmedLost = 0 %>
<% @confirmedWin = 0 %>
<% @confirmed = 0 %>
<% @doubles.each do |d| %>
<% if d.player_one == current_user.username %>
<% if d.game_name == 'Pool' %>
<% @count = @count + 1 %>
<% end %>

<% if d.game_name == 'Pool' && current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %>
<% @confirmed = @confirmed + 1 %>
<% end %>
<% end %>
<% if d.game_name == 'Pool' && d.result == 'Win' && current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %>
<% @confirmedWin = @confirmedWin + 1 %>
<% end %>
<% end %>
<% if d.game_name == 'Pool' && d.result == 'Lose' && current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %>
<% @confirmedLost = @confirmedLost + 1 %>
<% end %>
<% end %>
<% if d.game_name == 'Pool' && d.result == 'Yet to be played' %>
<% @confirmedNP = @confirmedNP + 1 %>
<% end %>
<% end %> 
<% end %> 
</h3>
<ul>
<li>Recorded: <%= @count %></li>
<li>Confirmed: <%= @confirmed %></li>
<li>Won: <%= @confirmedWin %></li>
<li>Lost: <%= @confirmedLost %></li>
<li>Waiting to be confirmed: <%= @count - @confirmed - @confirmedNP %></li>
<li>Still to be played: <%= @confirmedNP %></li>
</ul><br>


<div id="dpool" class="w3-responsive">
<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Game</th>
      <th>Date</th>
      <th>Player Two</th>
      <th>Player Three</th>
      <th>Player Four</th>
      <th>Result</th>


    </tr>
  </thead>
  <tbody>
    <% @doubles.each do |d| %>
    <tr>
      <% if d.player_one == current_user.username %>
      <% if d.game_name == 'Pool' %>
      <td><%= d.game_name %></td>
            <td>
        
        <% if d.result == 'Yet to be played' && d.date < Date.today %>
        <span style="color: red; font-weight: 500;">Reschedule</span>
        <% elsif  d.result == 'Yet to be played' && d.date >= Date.today %>
        <% @x = d.date - Date.today %>
        <% @x = @x.to_i %>

        <% if @x == 0 %>
        <span style="color: orange">Today</span>
        <% elsif @x == 1 %>
        <span style="color: orange">Tomorrow</span>
        <% else %>
        <span style="color: orange">In <%= @x %> Days</span>          
        <% end %>

        <% else %>
        <%= d.date.to_s(:long) %>
         <% end %> 
        </td>

      <% if d.result == 'Yet to be played' %>
      <td><%= d.player_two %></td>
      <% else %>
      <td><%= d.player_two %> - <% if d.confirm_one != 1 %>TBC
      <a href="/conversations"><button class="requestsTable">Message</button></a>
      <a href="/contacts/new"><button class="requestsTable">Report</button></a>
      <%end%><% if d.confirm_one == 1 %>Confirmed<%end%></td>
      <% end %>

      <% if d.result == 'Yet to be played' %>
      <td><%= d.player_three %></td>
      <% else %>
      <td><%= d.player_three %> - <% if d.confirm_two != 1 %>TBC
      <a href="/conversations"><button class="requestsTable">Message</button></a>
      <a href="/contacts/new"><button class="requestsTable">Report</button></a>
      <%end%><% if d.confirm_two == 1 %>Confirmed<%end%></td>
      <% end %>

      <% if d.result == 'Yet to be played' %>
      <td><%= d.player_four %></td>
      <% else %>
      <td><%= d.player_four %> - <% if d.confirm_three != 1 %>TBC
      <a href="/conversations"><button class="requestsTable">Message</button></a>
      <a href="/contacts/new"><button class="requestsTable">Report</button></a>
      <%end%><% if d.confirm_three == 1 %>Confirmed<%end%></td> 
      <% end %>
      
      <td>        <% if d.result == 'Win' %>
        <span style="color: green; font-weight: 700;"><%= d.result %></span>
        <% elsif d.result == 'Lose' %>
        <span style="color: red; font-weight: 700;"><%= d.result %></span>
        <% else %>
        <%= d.result %>
        <% end %>     <br>  <% if d.result == 'Yet to be played' %>
        <a style="margin-right: 15px;" href="/doubles/<%= d.id %>/edit"><i class="far fa-edit"></i></a>
        
      <%= link_to '<i class="fas fa-trash"></i>'.html_safe, d, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %></td>

      <% end %>
    </tr>
   
    <% end %>
    <% end %>
  </tbody>
</table>
<hr class="hr">
</div><br>
<hr>

<!--end of pool-->

<!--all fuseball-->
<h3 id="dclickFB"><i class="fas fa-bars"></i> Fuseball
<% @count = 0 %>
<% @confirmedNP = 0 %>
<% @confirmedLost = 0 %>
<% @confirmedWin = 0 %>
<% @confirmed = 0 %>
<% @doubles.each do |d| %>
<% if d.player_one == current_user.username %>
<% if d.game_name == 'Fuseball' %>
<% @count = @count + 1 %>
<% end %>

<% if d.game_name == 'Fuseball' && current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %>
<% @confirmed = @confirmed + 1 %>
<% end %>
<% end %>
<% if d.game_name == 'Fuseball' && d.result == 'Win' && current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %>
<% @confirmedWin = @confirmedWin + 1 %>
<% end %>
<% end %>
<% if d.game_name == 'Fuseball' && d.result == 'Lose' && current_user.username == d.player_one %>
<% if d.confirm_one == 1 && d.confirm_two == 1 && d.confirm_three == 1 %>
<% @confirmedLost = @confirmedLost + 1 %>
<% end %>
<% end %>
<% if d.game_name == 'Fuseball' && d.result == 'Yet to be played' && current_user.username == d.player_one %>
<% @confirmedNP = @confirmedNP + 1 %>
<% end %>
<% end %>  
<% end %>
</h3>
<ul>
<li>Recorded: <%= @count %></li>
<li>Confirmed: <%= @confirmed %></li>
<li>Won: <%= @confirmedWin %></li>
<li>Lost: <%= @confirmedLost %></li>
<li>Waiting to be confirmed: <%= @count - @confirmed - @confirmedNP %></li>
<li>Still to be played: <%= @confirmedNP %></li>
</ul><br>


<div id="dfb" class="w3-responsive">
<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Game</th>
      <th>Date</th>
      <th>Player Two</th>
      <th>Player Three</th>
      <th>Player Four</th>
      <th>Result</th>


    </tr>
  </thead>
  <tbody>
    <% @doubles.each do |d| %>
    <tr>
      <% if d.player_one == current_user.username %>
      <% if d.game_name == 'Fuseball' %>
      <td><%= d.game_name %></td>
            <td>
        
        <% if d.result == 'Yet to be played' && d.date < Date.today %>
        <span style="color: red; font-weight: 500;">Reschedule</span>
        <% elsif  d.result == 'Yet to be played' && d.date >= Date.today %>
        <% @x = d.date - Date.today %>
        <% @x = @x.to_i %>

        <% if @x == 0 %>
        <span style="color: orange">Today</span>
        <% elsif @x == 1 %>
        <span style="color: orange">Tomorrow</span>
        <% else %>
        <span style="color: orange">In <%= @x %> Days</span>          
        <% end %>

        <% else %>
        <%= d.date.to_s(:long) %>
         <% end %> 
        </td>

      <% if d.result == 'Yet to be played' %>
      <td><%= d.player_two %></td>
      <% else %>
      <td><%= d.player_two %> - <% if d.confirm_one != 1 %>TBC
      <a href="/conversations"><button class="requestsTable">Message</button></a>
      <a href="/contacts/new"><button class="requestsTable">Report</button></a>
      <%end%><% if d.confirm_one == 1 %>Confirmed<%end%></td>
      <% end %>

      <% if d.result == 'Yet to be played' %>
      <td><%= d.player_three %></td>
      <% else %>
      <td><%= d.player_three %> - <% if d.confirm_two != 1 %>TBC
      <a href="/conversations"><button class="requestsTable">Message</button></a>
      <a href="/contacts/new"><button class="requestsTable">Report</button></a>
      <%end%><% if d.confirm_two == 1 %>Confirmed<%end%></td>
      <% end %>

      <% if d.result == 'Yet to be played' %>
      <td><%= d.player_four %></td>
      <% else %>
      <td><%= d.player_four %> - <% if d.confirm_three != 1 %>TBC
      <a href="/conversations"><button class="requestsTable">Message</button></a>
      <a href="/contacts/new"><button class="requestsTable">Report</button></a>
      <%end%><% if d.confirm_three == 1 %>Confirmed<%end%></td> 
      <% end %>
      

      <td>        <% if d.result == 'Win' %>
        <span style="color: green; font-weight: 700;"><%= d.result %></span>
        <% elsif d.result == 'Lose' %>
        <span style="color: red; font-weight: 700;"><%= d.result %></span>
        <% else %>
        <%= d.result %>
        <% end %>    <br>  <% if d.result == 'Yet to be played' %>
        <a style="margin-right: 15px;" href="/doubles/<%= d.id %>/edit"><i class="far fa-edit"></i></a>
        
      <%= link_to '<i class="fas fa-trash"></i>'.html_safe, d, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %></td>

    

      <% end %>
    </tr>
   
    <% end %>
    <% end %>
  </tbody>
</table>
<hr class="hr">
</div><br>


<!--end of fuseball-->

<hr class="hr">
</div>





    <script>
  $(document).ready(function(){
  $("#doublesClick").click(function(){
  $("#doublesTable").toggle('slow');
  });

  $("#dclickTT").click(function(){
  $("#dTT").toggle('slow');
  });
  $("#dclickPool").click(function(){
  $("#dpool").toggle('slow');
  });
  $("#dclickFB").click(function(){
  $("#dfb").toggle('slow');
  });
  $("#dx").click(function(){
  $("#dxx").toggle('slow');
  });
});
    </script>

<style type="text/css">

  #dx:hover,#doublesClick:hover, #dclickTT:hover, #dclickFB:hover, #dclickPool:hover{
    animation: bounce 1s infinite;
    cursor: pointer;
  }
  #dx{
    cursor: pointer;
  }
  #dxx, #dTT, #dpool, #dfb{
    display: none;
  }

  
</style>


