
<h1 id="dx">&#9776; Doubles</h1><hr class="hr">

<div id="dxx">





<h3 id="doublesClick">All Games <% @count = 0 %>
<% @doubles.each do |double| %>
<% if double.player_one == current_user.username %>
<% @count = @count + 1 %>

<% end %>

<% end %>
<% if @count == 0 %>
(No games played yet)
<% elsif @count == 1 %>
(<%= @count %> Game Recorded)
<% else %>
(<%= @count %> Games Recorded)
<% end %></h3>


<div id="doublesTablet" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Date</th>
      <th>Teammate</th>
      <th>Opponent</th>
      <th>Opponent</th>
      <th>Result</th>
      
    </tr>
  </thead>


  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <% if current_user.username == double.player_one %>

        <td><%= double.game_name %></td>
        <td><%= double.date %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_double_path(double) %></td>
        <td><%= link_to 'Delete', double, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% else %>
      
    <% end %>
      
    <% end %>
  </tbody>
</table>
</div>
<hr class="hr" style="width: 50%;">


<!--all TT-->
<h3 id="dclickTT">Table Tennis <% @count = 0 %>
<% @doubles.each do |double| %>
<% if double.player_one == current_user.username %>
<% if double.game_name == 'Table Tennis' %>
<% @count = @count + 1 %>
<% end %>
<% end %>

<% end %>
(<%= @count %>)</h3>


<div id="dTT" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Date</th>
      <th>Teammate</th>
      <th>Opponent</th>
      <th>Opponent</th>
      <th>Result</th>
    </tr>
  </thead>


  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <% if current_user.username == double.player_one %>
        <% if double.game_name == 'Table Tennis' %>

        <td><%= double.game_name %></td>
        <td><%= double.date %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_double_path(double) %></td>
        <td><%= link_to 'Delete', double, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr class="hr" style="width: 50%;">
<!--end of tt-->

<!--all pool-->
<h3 id="dclickPool">Pool <% @count = 0 %>
<% @doubles.each do |double| %>
<% if double.player_one == current_user.username %>
<% if double.game_name == 'Pool' %>
<% @count = @count + 1 %>
<% end %>
<% end %>

<% end %>
(<%= @count %>)</h3>


<div id="dpool" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Date</th>
      <th>Teammate</th>
      <th>Opponent</th>
      <th>Opponent</th>
      <th>Result</th>
    </tr>
  </thead>


  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <% if current_user.username == double.player_one %>
        <% if double.game_name == 'Pool' %>


        <td><%= double.game_name %></td>
        <td><%= double.date %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_double_path(double) %></td>
        <td><%= link_to 'Delete', double, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr class="hr" style="width: 50%;">
<!--end of pool-->

<!--all fuseball-->
<h3 id="dclickFB">Fuseball <% @count = 0 %>
<% @doubles.each do |double| %>
<% if double.player_one == current_user.username %>
<% if double.game_name == 'Fuseball' %>
<% @count = @count + 1 %>

<% end %>
<% end %>
<% end %>
(<%= @count %>)</h3>


<div id="dfb" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Date</th>
      <th>Teammate</th>
      <th>Opponent</th>
      <th>Opponent</th>
      <th>Result</th>
    </tr>
  </thead>


  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <% if current_user.username == double.player_one %>
        <% if double.game_name == 'Fuseball' %>


        <td><%= double.game_name %></td>
        <td><%= double.date %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_double_path(double) %></td>
        <td><%= link_to 'Delete', double, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr class="hr" style="width: 50%;">
<!--end of fuseball-->
<br>

</div>


<div style="border:2px solid red;">



<h1>Doubles Testing</h1>


<h1>Game confirmations</h1>
<% @doubles.each do |d| %>


<% if d.result == 'Yet to be played' %>
<% else %>

<p>

<% if d.player_two == current_user.username && d.confirm_one != 1 %>
<%= d.player_one %> has said that they played with you in <%= d.game_name %> (doubles) on <%= d.date %> and that they <% if d.result == 'Lose' %> Lost<% else %> Won<% end %></p><a href="/confirm_one/<%= d.id %>"><button>Confirm</button></a><br>
<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a>
<% end %>

<% if d.player_three == current_user.username && d.confirm_two != 1  %>
  <%= d.player_one %> has said that they played you in <%= d.game_name %> (doubles) on <%= d.date %> and that they <% if d.result == 'Lose' %> Lost<% else %> Won<% end %></p><a href="/confirm_two/<%= d.id %>"><button>Confirm</button></a><br>
<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a>
<% end %>

<% if d.player_four == current_user.username && d.confirm_three != 1  %>
  <%= d.player_one %> has said that they played you in <%= d.game_name %> (doubles) on <%= d.date %> and that they <% if d.result == 'Lose' %> Lost<% else %> Won<% end %></p><a href="/confirm_three/<%= d.id %>"><button>Confirm</button></a><br>
<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a>
<% end %>




<% end %>
<% end %>
<hr>

<!--end of game confirmation testing-->

<!-----All doubles table below--------->
<h1>All doubles table</h1>

<table class="w3-table w3-hoverable">
  <thead>
    <tr>
      <th>Game</th>
      <th>Player One</th>
      <th>Player Two</th>
      <th>Player Three</th>
      <th>Player Four</th>
      <th>Result</th>


    </tr>
  </thead>
  <tbody>
    <% @doubles.each do |d| %>
    <tr>
      <% if d.result != 'Yet to be played' %>
      <td><%= d.game_name %></td>
      <td><%= d.player_one %></td>

      <td><%= d.player_two %> - <% if d.confirm_one != 1 %>Waiting to confirm<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a><%end%><% if d.confirm_one == 1 %>Confirmed<%end%></td>
      
      <td><%= d.player_three %> - <% if d.confirm_two != 1 %>Waiting to confirm<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a><%end%><% if d.confirm_two == 1 %>Confirmed<%end%></td>

      <td><%= d.player_four %> - <% if d.confirm_three != 1 %>Waiting to confirm<a href="/conversations"><button>Message User</button></a><a href="/contacts/new"><button>Report to Admin</button></a><%end%><% if d.confirm_three == 1 %>Confirmed<%end%></td>      
      

      <td><%= d.result %></td>
    

      <% end %>


      

  

      


    </tr>
    <% end %>
  </tbody>
</table>
</div>

<!---------------------------------------------------------------------------------------
  The above code is for testing only 
---------------------------------------------------------------------------------------->




    <script>
  $(document).ready(function(){
  $("#doublesClick").click(function(){
  $("#doublesTable").toggle('slow');
  });

  $("#dclickTT").click(function(){
  $("#dTT").toggle('slow');
  });
  $("#dclickPool").click(function(){
  $("#dpool").toggle('slow');
  });
  $("#dclickFB").click(function(){
  $("#dfb").toggle('slow');
  });
  $("#dx").click(function(){
  $("#dxx").toggle('slow');
  });
});
    </script>

<style type="text/css">

  #dx:hover,#doublesClick:hover, #dclickTT:hover, #dclickFB:hover, #dclickPool:hover{
    animation: bounce 1s infinite;
    cursor: pointer;
  }
  #dx{
    cursor: pointer;
  }
  #dxx, #dTT, #dpool, #dfb, #doublesTable{
    display: none;
  }

  
</style>


