<style type="text/css">#hi1{background-color:white;color:black;}#doublesTable{display:none;}</style>


<div id="doublesIndex">

<h1 id="doublesClick">My Games - Doubles <% @count = 0 %>
<% @doubles.each do |double| %>
<% if double.player_one == @email %>
<% @count = @count + 1 %>

<% end %>

<% end %>
<% if @count == 0 %>
(No games played yet)
<% elsif @count == 1 %>
(<%= @count %> Game Recorded)
<% else %>
(<%= @count %> Games Recorded)
<% end %></h1>


<div id="doublesTable" class="w3-responsive">
<table id="hi1" class="w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Date</th>
      <th>Player one</th>
      <th>Player two</th>
      <th>Player three</th>
      <th>Player four</th>
      <th>Result</th>
    </tr>
  </thead>


    <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <% if @email == double.player_one %>
        <td><%= double.game_name %></td>
        <td><%= double.date %></td>
        <td><%= double.player_one %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
        <!--<td><%= link_to 'Show', double %></td>-->
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_double_path(double) %></td>
        <!--<td><%= link_to 'Destroy', double, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
      <% else %>
      <% end %>
    <% end %>
  </tbody>

</table>
</div>
<hr>

<br>




</div>



    <script>
  $(document).ready(function(){
  $("#doublesClick").click(function(){
  $("#doublesTable").toggle('slow');
  });
});
    </script>