
<h1 id="dx">Doubles</h1><hr>

<div id="dxx">





<h3 id="doublesClick">All Games <% @count = 0 %>
<% @doubles.each do |double| %>
<% if double.player_one == current_user.username %>
<% @count = @count + 1 %>

<% end %>

<% end %>
<% if @count == 0 %>
(No games played yet)
<% elsif @count == 1 %>
(<%= @count %> Game Recorded)
<% else %>
(<%= @count %> Games Recorded)
<% end %></h3>


<div id="doublesTable" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Date</th>
      <th>Teammate</th>
      <th>Opponent</th>
      <th>Opponent</th>
      <th>Result</th>
      
    </tr>
  </thead>


  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <% if current_user.username == double.player_one %>

        <td><%= double.game_name %></td>
        <td><%= double.date %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_double_path(double) %></td>
        <td><%= link_to 'Delete', double, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% else %>
      
    <% end %>
      
    <% end %>
  </tbody>
</table>
</div>
<hr style="width: 25%;">


<!--all TT-->
<h3 id="dclickTT">Table Tennis <% @count = 0 %>
<% @doubles.each do |double| %>
<% if double.player_one == current_user.username %>
<% if double.game_name == 'Table Tennis' %>
<% @count = @count + 1 %>
<% end %>
<% end %>

<% end %>
(<%= @count %>)</h3>


<div id="dTT" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Date</th>
      <th>Teammate</th>
      <th>Opponent</th>
      <th>Opponent</th>
      <th>Result</th>
    </tr>
  </thead>


  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <% if current_user.username == double.player_one %>
        <% if double.game_name == 'Table Tennis' %>

        <td><%= double.game_name %></td>
        <td><%= double.date %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_double_path(double) %></td>
        <td><%= link_to 'Delete', double, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr style="width: 50%;">
<!--end of tt-->

<!--all pool-->
<h3 id="dclickPool">Pool <% @count = 0 %>
<% @doubles.each do |double| %>
<% if double.player_one == current_user.username %>
<% if double.game_name == 'Pool' %>
<% @count = @count + 1 %>
<% end %>
<% end %>

<% end %>
(<%= @count %>)</h3>


<div id="dpool" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Date</th>
      <th>Teammate</th>
      <th>Opponent</th>
      <th>Opponent</th>
      <th>Result</th>
    </tr>
  </thead>


  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <% if current_user.username == double.player_one %>
        <% if double.game_name == 'Pool' %>


        <td><%= double.game_name %></td>
        <td><%= double.date %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_double_path(double) %></td>
        <td><%= link_to 'Delete', double, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr style="width: 75%;">
<!--end of pool-->

<!--all fuseball-->
<h3 id="dclickFB">Fuseball <% @count = 0 %>
<% @doubles.each do |double| %>
<% if double.player_one == current_user.username %>
<% if double.game_name == 'Fuseball' %>
<% @count = @count + 1 %>

<% end %>
<% end %>
<% end %>
(<%= @count %>)</h3>


<div id="dfb" class="w3-responsive">
<table class="hi w3-table-all w3-hoverable w3-border">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Date</th>
      <th>Teammate</th>
      <th>Opponent</th>
      <th>Opponent</th>
      <th>Result</th>
    </tr>
  </thead>


  <tbody>
    <% @doubles.each do |double| %>
      <tr>
        <% if current_user.username == double.player_one %>
        <% if double.game_name == 'Fuseball' %>


        <td><%= double.game_name %></td>
        <td><%= double.date %></td>
        <td><%= double.player_two %></td>
        <td><%= double.player_three %></td>
        <td><%= double.player_four %></td>
        <td><%= double.result %></td>
        <td><i class="far fa-edit"></i><%= link_to 'Edit', edit_double_path(double) %></td>
        <td><%= link_to 'Delete', double, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>

      <% end %>
       
    <% end %>
      
  
  </tbody>
</table>
</div> 
<hr>
<!--end of fuseball-->
<br>
</div>

    <script>
  $(document).ready(function(){
  $("#doublesClick").click(function(){
  $("#doublesTable").toggle('slow');
  });

  $("#dclickTT").click(function(){
  $("#dTT").toggle('slow');
  });
  $("#dclickPool").click(function(){
  $("#dpool").toggle('slow');
  });
  $("#dclickFB").click(function(){
  $("#dfb").toggle('slow');
  });
  $("#dx").click(function(){
  $("#dxx").toggle('slow');
  });
});
    </script>

<style type="text/css">

  #dx:hover,#doublesClick:hover, #dclickTT:hover, #dclickFB:hover, #dclickPool:hover{
    animation: bounce 1s infinite;
    cursor: pointer;
  }
  #dx{
    cursor: pointer;
  }
  #dxx, #dTT, #dpool, #dfb, #doublesTable{
    display: none;
  }

  
</style>


