<div id="messagePage" class="w3-container white">
	<div style="padding: 50px 10px">
    <h1 style="font-family: 'Special Elite', cursive !important;">List of Users</h1>
<% @users.each do |user| %>



    
    <table id="usertable" style="width: 100%; padding: 5px;" class="w3-responsive w3-border">

    <tr>
   <td>User Id: <%= user.id %></td></tr>
   <tr><td>email: <%= user.email %></td></tr>
   <tr><td>Admin: <%= user.admin %></td></tr>

   <% if user.admin == true %>
   <tr><td><a href="/downgrade/<%= user.id %>"><button class="adminButton">Remove Admin</button></a></td></tr>
   <% else %>
   <tr><td><a href="/upgrade/<%= user.id %>"><button class="adminButton">Make Admin</button></a></td><tr>
   <% end %>
   
	
    </table>
   
<% end %>
</div>

</div>