<div id='conversation' class="w3-container w3-responsive">

<p style="color:orange">
  <strong>Name:</strong></p><p>
  <%= @contact.Name %>
</p>

<p style="color:orange">
  <strong>Email:</strong></p><p>
  <%= @contact.email %>
</p>

<p style="color:orange">
  <strong>Subject:</strong></p><p>
  <%= @contact.subject %>
</p>

<p style="color:orange">
  <strong>Message:</strong></p><p>
  <%= @contact.message %>
</p>
<br><br>
<%#= link_to 'Edit', edit_contact_path(@contact) %>
<%= link_to 'Back', contacts_path, class: 'no-decoration' %>
</div>