<style type="text/css">
    .aButton{
        width: 200px;
        border-radius: 10%;
        background-color: orange;
        border:none;
        color: white;
    }
    .aButton:hover{
        opacity: 0.8;
    }
</style>
<div id="aboutPage" class="white w3-container w3-center">

<p id="notice"><%= notice %></p><br>
<h1 style="font-family: 'Special Elite', cursive !important;">About</h1><br>




  
    <% @abouts.each do |about| %>
      
        <%= about.title %>
        <%= about.body %><br><br>

        <% if user_signed_in? && current_user.admin? %>
        <%#= link_to 'Show', about %><br>
        <button class="aButton"><%= link_to 'Edit', edit_about_path(about), class: 'no-decoration' %></button><br><br>
        
        <button class="aButton"><%= link_to 'Destroy', about, method: :delete, class: 'no-decoration', data: { confirm: 'Are you sure?' } %></button><br><br>
        <% end %>
    <% end %>

<br>
<% if user_signed_in? && current_user.admin? %>
<button class="aButton"><%= link_to 'New Content', new_about_path, class: 'no-decoration' %></button>
<% end %>

</div>