<div id="conversation" class="w3-container">
<p>
  <strong style="color: orange">Title:</strong>
  <%= @post.title %>
</p>

<p>
  
  <%= @post.body %>
</p>
<hr class="hr">
<br>

<% if @post.canComment == true %>
<h4 style="font-family: 'Special Elite', cursive !important; color: orange;"><%= @post.comments.count %><% if @post.comments.count == 1 %> Comment<% else %> Comments<% end %> </h4>
<%= render @post.comments %>
<h3 style="font-family: 'Special Elite', cursive !important">Add a comment: </h3>
<% end %>
<%= render 'comments/form' %>
<% if user_signed_in? && current_user.admin? %>
<% if @post.canComment == false %>
<p><a href="/on/<%= @post.id %>" class="no-decoration">Turn Comments On</a></p>
<% else %>
<p><a href="/off/<%= @post.id %>" class="no-decoration">Turn Comments Off</a></p>
<% end %>
<%= link_to 'Edit', edit_post_path(@post), class: "no-decoration" %> |
<%= link_to 'Back', posts_path, class: "no-decoration" %>
<% end %>



</div><!--End of conatiner-->

