<!DOCTYPE html>
<html>
  <head>
    <title>GoPlay</title>
    <!--Icon for tab-->
    <link rel="icon" href="https://sem4project.s3-eu-west-1.amazonaws.com/assets/favicon.PNG">
    <!--Link for jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--Code to make app responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Link for w3 schools css-->
	 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div id="navbar">

  
  <% if user_signed_in? && current_user.admin? %>
  <span id="adminButton" onclick="openAdmin()">Admin Panel</span>
  <% end %>
    <% if user_signed_in? %>

  <span style="padding-left:5px;" id="name"><%= link_to current_user.username, edit_user_registration_path, :method => :get, class: "no-decoration" %></span>

  <% end %>

  <span id="navbarMenu" onclick="openNav()">&#9776;</span>
  <a href="/"><img id="navlogo" class="w3-responsive" src="https://sem4project.s3-eu-west-1.amazonaws.com/assets/favicon.PNG"/></a>


</div>
<div style="background-color:#bd6019" class="white w3-center"><%= notice %></div>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="/">Home</a>
    <a href="/dashboard">Dash</a>
    <a href="/about">About</a>

      <% if user_signed_in? %>
      <a><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></a>
      <a><%= link_to 'Edit Profile', edit_user_registration_path, :method => :get %></a>
      <% else %>
      <a><%= link_to 'Login', new_user_session_path %></a>
      <a><%= link_to 'Register', new_user_registration_path %></a>
      
      <% end %>

  </div>
</div>

<!--Below is the code for the admin menu-->
<div id="myAdminNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeAdmin()">&times;</a>
  <div class="overlay-content">
      <% if user_signed_in? %>
      <% if current_user.admin? %>
      <a><%= link_to 'All Users', '/allusers' %></a>
      <a><%= link_to 'Messages', '/messages' %></a>
      <a><%= link_to 'Edit "About" Page', '/about' %></a>
      <a><%= link_to 'New Notice', new_post_path %></a>
      <% end %>
      <% end %>

  </div>
</div>
<!--End of the Admin Menu-->

<script>
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 1 || document.documentElement.scrollTop > 1) {
    document.getElementById("navbar").style.backgroundColor = "#bd6019";
    document.getElementById("navbarMenu").style.color = "#103f4f";
    document.getElementById("adminButton").style.color = "#103f4f";
  

  } else {
    document.getElementById("navbar").style.backgroundColor = "transparent";
    document.getElementById("navbarMenu").style.color = "orange";
    document.getElementById("adminButton").style.color = "orange";
  
  }
}
</script>






<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
function openAdmin() {
  document.getElementById("myAdminNav").style.width = "100%";
}

function closeAdmin() {
  document.getElementById("myAdminNav").style.width = "0%";
}
</script>



    <%= yield %>

  
  <footer>
  	<div class="top-footer w3-center"><a href="/contact"><i id="bfm"  class="far fa-comment fa-2x">  Message Admin</i></a></div>
  	<div class="bottom-footer w3-center">GoPlay &copy; 2020 </div>
  </footer>
  </body>
</html>
